<nav class="nav">
    <div class="container">
      <div class="brand">CMS Project</div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/addBlog">Create</a></li>
        <% if(currentUser){ %>
          <a href="/logout">Logout</a>
       <% }else{ %>
          <a href="/addUser">Register</a>
          <a href="/login">Login</a>
       <% } %>
        
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>